<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Mateusz Wojtyna
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title>
      Date of birth
    </mat-panel-title>
    <mat-panel-description>
      6 September 1993
    </mat-panel-description>
    <mat-divider></mat-divider>
    <mat-panel-title>
      Address
    </mat-panel-title>
    <mat-panel-description>
      ul. Grunwaldzka 58/55, 37‐700 Przemyśl
    </mat-panel-description>
    <mat-divider></mat-divider>
    <mat-panel-title>
      Telephone
    </mat-panel-title>
    <mat-panel-description>
      796825484
    </mat-panel-description>
    <mat-divider></mat-divider>
    <mat-panel-title>
      E-mail
    </mat-panel-title>
    <mat-panel-description>
      mateuszjanwojtyna@gmail.com
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Education
      </mat-panel-title>
      <mat-panel-description>
        Bachelor of Science
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title>
      2013 - 2017
    </mat-panel-title>
    <mat-panel-description>
      Rzeszów University of Technology - Information Technology
    </mat-panel-description>
    <mat-divider></mat-divider>
    <mat-panel-title>
      2009 - 2013
    </mat-panel-title>
    <mat-panel-description>
      Informatics and Mechatronics Education School Complex no. 8 in Przemyśl - IT technician
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Work Experience
      </mat-panel-title>
      <mat-panel-description>
        1,5 year
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title>
      08. 2016 ‐ 01.2018
    </mat-panel-title>
    <mat-panel-description>
      SoftSystem, private limited company - software developer
    </mat-panel-description>
    <mat-divider></mat-divider>
    <mat-panel-title>
      07. 2015 ‐ 08.2015
    </mat-panel-title>
    <mat-panel-description>
      Order of Code, private limited company - work practice
    </mat-panel-description>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Abilities & competencies
      </mat-panel-title>
      <mat-panel-description>
        Please check links
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title>
      <a target="_blank" href="https://www.linkedin.com/in/mateusz-wojtyna-16b927153/">https://www.linkedin.com/in/mateusz-wojtyna-16b927153/</a>
    </mat-panel-title>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Hobbies and Interests
      </mat-panel-title>
      <mat-panel-description>
        and much more...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        passion
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #6666FF;">philosophy</mat-chip>
            <mat-chip style="background-color: #0099FF;">poetry</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        interests
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #9900FF;">new technologies</mat-chip>
            <mat-chip style="background-color: #FF66FF;">gadgets</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        dailiness
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #FF66CC;">news</mat-chip>
            <mat-chip style="background-color: #CC0066;">music</mat-chip>
            <mat-chip style="background-color: #990033;">study</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        entertainment
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #FFFF99;">serial</mat-chip>
            <mat-chip style="background-color: #FF9900;">rpg games</mat-chip>
            <mat-chip style="background-color: #FFFF00;">sci-fi/fantasy literature</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        rest
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #66FF66;">hill walking</mat-chip>
            <mat-chip style="background-color: #33CC33;">hiking trail</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        happiness
        <mat-card>
          <mat-chip-list>
            <mat-chip style="background-color: #FFCCCC;">wealth</mat-chip>
            <mat-chip style="background-color: #FF9999;">nature</mat-chip>
            <mat-chip style="background-color: #FF6666;">warm</mat-chip>
            <mat-chip style="background-color: #FF0000;">beloved</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
