<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Username:
      </mat-panel-title>
      <mat-panel-description>
        {{ newUser.username }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-panel-title>
      Id:
    </mat-panel-title>
    <mat-panel-description>
      {{ newUser.id }}
    </mat-panel-description>
    <mat-panel-title>
      First name:
    </mat-panel-title>
    <mat-panel-description>
      {{ newUser.firstName }}
    </mat-panel-description>
    <mat-panel-title>
      Last name:
    </mat-panel-title>
    <mat-panel-description>
      {{ newUser.lastName }}
    </mat-panel-description>
    <mat-panel-title>
      Email:
    </mat-panel-title>
    <mat-panel-description>
      {{ newUser.email }}
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
