<mat-card>
<p style="text-align: justify;"><span style="font-size: 15pt;"><strong>I'm 24 years old man.</strong></span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;">All my life I interest computer science.</span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;">Started from playing games as six, further wright my first program in pascal as a teenager, through first simple project in high school, into real task on studies until now in work.</span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;">Yep I'm programmer, but It's define me like a person? <br />I really hope so ;)<br />This proffesion could be tough and require a lot of patient and keep calm, </span><span style="font-size: 12pt;">but simultaneously give a lot of joy and satifsaction after done complicated project or just a simple bug (however this could be very nasty too).<br /></span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;">What's more? - I'm very curious about the world, still look for my place and every day dream about future and me as a guy who will always have a lot to say and to do.</span></p>
</mat-card>
