<mat-grid-list [cols]="columnNum"  rowHeight="1:1">
  <mat-grid-tile>
    <img mat-card-image
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1000px-F_icon.svg.png"
         (click)="openLink('https://www.facebook.com/mateusz.wojtyna.9')"
         style="cursor: pointer;"
    >
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image
         src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
         (click)="openLink('https://github.com/mati29')"
         style="cursor: pointer;"
    >
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/2000px-Linkedin_icon.svg.png"
         (click)="openLink('https://www.linkedin.com/in/mateusz-wojtyna-16b927153/')"
         style="cursor: pointer;"
    >
  </mat-grid-tile>
  <mat-grid-tile>
    <img mat-card-image
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png"
         (click)="openLink('https://www.instagram.com/mateuszjanwojtyna/')"
         style="cursor: pointer;"
    >
  </mat-grid-tile>
</mat-grid-list>
